body {
    margin: 0;
    padding: 0;
}



.app {
    height: 100vh;
    padding: 0;
    background: rgb(43, 116, 226);
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-bottom: 1px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Adjust the shadow values as needed */
    margin: 0 auto;
    text-align: center;
}
.footer {
    height: 70%;
}